<!DOCTYPE html>
<html>
  <head>
    <title>Pong</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap" rel="stylesheet">
    <!-- css styles -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/content-common.css">
    <link rel="stylesheet" href="/css/content-ranking.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/side.css">
    <link rel="stylesheet" href="/css/chatroom-collection.css">
    <link rel="stylesheet" href="/css/dmroom-collection.css">
    <link rel="stylesheet" href="/css/custom-checkbox.css">
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/friend-collection.css">
    <link rel="stylesheet" href="/css/my-page.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body id="root">
    <%= yield %>
  </body>
</html>
